# Default CMake .gitignore stuff
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# IDE stuff
.idea
.vscode

# Build stuff
build
cmake-build-debug

# EscapeAnalysisTool stuff
*.csv
